# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
*-lock.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/api-netcore/TasksReportManager/.vs/TasksReportManager/v17/TestStore/0/testlog.manifest
/api-netcore/TasksReportManager/.vs/TasksReportManager/v17/TestStore/0/000.testlog
/api-netcore/TasksReportManager/.vs/TasksReportManager/v17/.suo
/api-netcore/TasksReportManager/TasksReportManager.API/obj/Debug/net6.0/TasksReportManager.API.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.API/obj/Debug/net6.0/TasksReportManager.API.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.API/obj/Debug/net6.0/TasksReportManager.API.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.API.Infra/obj/Debug/net6.0/TasksReportManager.API.Infra.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.API.Infra/obj/Debug/net6.0/TasksReportManager.API.Infra.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.API.Infra/obj/Debug/net6.0/TasksReportManager.API.Infra.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.API.Infra.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/api-netcore/TasksReportManager/TasksReportManager.API.Infra.UnitTests/obj/Debug/net6.0/TasksReportManager.API.Infra.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.API.Infra.UnitTests/obj/Debug/net6.0/TasksReportManager.API.Infra.UnitTests.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.API.Infra.UnitTests/obj/Debug/net6.0/TasksReportManager.API.Infra.UnitTests.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.API.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/api-netcore/TasksReportManager/TasksReportManager.API.UnitTests/obj/Debug/net6.0/TasksReportManager.API.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.API.UnitTests/obj/Debug/net6.0/TasksReportManager.API.UnitTests.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.API.UnitTests/obj/Debug/net6.0/TasksReportManager.API.UnitTests.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.Application/obj/Debug/net6.0/TasksReportManager.Application.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.Application/obj/Debug/net6.0/TasksReportManager.Application.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.Application/obj/Debug/net6.0/TasksReportManager.Application.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.Application.Dtos/obj/Debug/net6.0/TasksReportManager.Application.Dtos.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.Application.Dtos/obj/Debug/net6.0/TasksReportManager.Application.Dtos.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.Application.Dtos/obj/Debug/net6.0/TasksReportManager.Application.Dtos.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.Application.Dtos.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/api-netcore/TasksReportManager/TasksReportManager.Application.Dtos.UnitTests/obj/Debug/net6.0/TasksReportManager.Application.Dtos.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.Application.Dtos.UnitTests/obj/Debug/net6.0/TasksReportManager.Application.Dtos.UnitTests.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.Application.Dtos.UnitTests/obj/Debug/net6.0/TasksReportManager.Application.Dtos.UnitTests.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.Application.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/api-netcore/TasksReportManager/TasksReportManager.Application.UnitTests/obj/Debug/net6.0/TasksReportManager.Application.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.Application.UnitTests/obj/Debug/net6.0/TasksReportManager.Application.UnitTests.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.Application.UnitTests/obj/Debug/net6.0/TasksReportManager.Application.UnitTests.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.EFPersistence/obj/Debug/net6.0/TasksReportManager.EFPersistence.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.EFPersistence/obj/Debug/net6.0/TasksReportManager.EFPersistence.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.EFPersistence.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/api-netcore/TasksReportManager/TasksReportManager.EntitiesModel.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/api-netcore/TasksReportManager/TasksReportManager.EntitiesModel.UnitTests/obj/Debug/net6.0/TasksReportManager.EntitiesModel.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.EntitiesModel.UnitTests/obj/Debug/net6.0/TasksReportManager.EntitiesModel.UnitTests.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.EntitiesModel.UnitTests/obj/Debug/net6.0/TasksReportManager.EntitiesModel.UnitTests.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.EntitiesModel/obj/Debug/net6.0/TasksReportManager.EntitiesModel.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.EntitiesModel/obj/Debug/net6.0/TasksReportManager.EntitiesModel.assets.cache
/api-netcore/TasksReportManager/TasksReportManager.EFPersistence.UnitTests/obj/Debug/net6.0/TasksReportManager.EFPersistence.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/api-netcore/TasksReportManager/TasksReportManager.EFPersistence.UnitTests/obj/Debug/net6.0/TasksReportManager.EFPersistence.UnitTests.csproj.AssemblyReference.cache
/api-netcore/TasksReportManager/TasksReportManager.EFPersistence.UnitTests/obj/Debug/net6.0/TasksReportManager.EFPersistence.UnitTests.assets.cache
